<?xml version="1.0" encoding="UTF-8"?>
<Installer>
    <Name>MSYS2</Name>
    <Version>@VERSION@</Version>
    <Title>MSYS2</Title>
    <Publisher>The MSYS2 Developers</Publisher>
    <ControlScript>control.js</ControlScript>
    <StartMenuDir>MSYS2</StartMenuDir>
    <RunProgram>@TargetDir@/ucrt64.exe</RunProgram>
    <RunProgramArguments></RunProgramArguments>
    <InstallerApplicationIcon>msys2</InstallerApplicationIcon>
    <InstallerWindowIcon>msys2.ico</InstallerWindowIcon>
    <InstallActionColumnVisible>false</InstallActionColumnVisible>
    <MaintenanceToolName>uninstall</MaintenanceToolName>
    <SupportsModify>false</SupportsModify>
    <RepositorySettingsPageVisible>false</RepositorySettingsPageVisible>
    <SaveDefaultRepositories>false</SaveDefaultRepositories>
</Installer>
